<section class="container" style="margin-top: 70px;">
    <section class="row" style="width: 100%;">

        <section class="col-9">
            <div id="list-newest-news">
                <div class="card" id="the-big-guy">
                    <img class="card-img-top" src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <h6 class="card-subtitle mt-2 text-muted">dateTime/author</h6>
                    </div>
                </div>
                <div class="row" style="margin-top: 12px;">
                    <div class="col-5 mx-auto" *ngFor="let item of [1, 2]">
                        <div class="card flex-row flex-wrap">
                            <img class="card-img" src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <h6 class="card-subtitle mt-2 text-muted">dateTime/author</h6>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="list-paging">
                <div class="container" *ngFor="let item of [1, 2, 3, 4]">
                    <div class="card flex-row flex-wrap">
                        <div class="row no-gutters">
                            <div class="col-auto">
                                <img style="top: auto; bottom: auto; margin: 12px" src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" width=180px height=auto>
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <h6 class="card-subtitle mt-2 text-muted">dateTime/author</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="col-3">
            <div id="catalog-container" class="d-none d-md-block bg-light sidebar">
                <div class="sidenav">
                    <ul class=" nav flex-lg-column ">
                        <li class="nav-item " *ngFor="let item of ['catalog1', 'catalog2', 'catalog3']">
                            <a class="nav-link " href="# ">{{item}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    </section>
</section>